<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testandroidadvancedview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:name="com.example.testandroidadvancedview.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testandroidadvancedview.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testtabhostfragment.TabHostMainActivity"
            android:label="TabHostViewPager" >
        </activity>
        <activity
            android:name="com.example.testgridlayout.GridLayoutActivity"
            android:label="GridLayout" >
        </activity>
        <activity
            android:name="com.example.testtablelayout.TableLayoutActivity1"
            android:label="TableLayout" >
        </activity>
        <activity
            android:name="com.example.testslidingdrawer.SlidingDrawerActivity"
            android:label="SlidingDrawer" >
        </activity>
        <activity
            android:name="com.example.testviewtransition.ViewAnimatorActivity"
            android:label="ViewAnimator" >
        </activity>
        <activity
            android:name="com.example.testviewtransition.ViewSwitcherActivity"
            android:label="ViewSwitcher" >
        </activity>
        <activity
            android:name="com.example.testviewtransition.ViewFlipperActivity"
            android:label="ViewFlipper" >
        </activity>
        <activity
            android:name="com.example.testviewtransition.TextSwitcherActivity"
            android:label="TextFlipper" >
        </activity>
        <activity
            android:name="com.example.testviewtransition.ImageViewSwicher"
            android:label="ImageViewFlipper" >
        </activity>
        <activity
            android:name="com.example.testactionbar.ActionBarMainActivity"
            android:label="ActionBar"
            android:parentActivityName="com.example.testandroidadvancedview.MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <!-- android:uiOptions="splitActionBarWhenNarrow"> -->
            <!-- <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" /> -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testandroidadvancedview.MainActivity" />
        </activity>
        <activity
            android:name="com.example.testactionbar.TestActivityA"
            android:label="TestActivityA" >
        </activity>
        <activity
            android:name="com.example.testactionbar.TestActivityB"
            android:label="TestActivityB" >
        </activity>
    </application>

</manifest>